<h1>Studio Index</h1>

<% @studios.each do |studio| %>
  <section id="studio-<%= studio.id%>">
    <h3><%= studio.name %></h3>
    <% studio.movies.each do |movie| %>
      <p><%= movie.name %></p>
    <% end %>
  </section>
<% end %>